@use '../abstracts/mixins';
@use '../abstracts/breakpoints';

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(12.5rem, 1fr) minmax(12.5rem, 1fr);
    grid-template-areas: 
        "milkbottles orange"
        "ice-cream-cone sugarcubes";
    align-items: stretch;
    overflow: hidden;

    @media screen and (min-width: breakpoints.$size-lg) {
        @include mixins.horizontal-align(center, stretch);
        min-height: 28rem;
    }
}