.main {
    display: grid;
    width: 100vw;
    align-items: center;
    justify-items: center;
    grid-template-areas: 
        "A"
        "B"
        "C"
        "D"
        "E"
        "F"
    ;
    @media screen and (min-width: $tablet-size) {
        grid-template-areas:
        "B A"
        "C D"
        "E F"
        ;
    }
}

.section {

    max-width: 100%;

    &__img {
        max-width: 100%;
        @media screen and (min-width: $tablet-size) {
            display: none;
        }
    }

    &__img-desktop {
        display: none;
        @media screen and (min-width: $tablet-size) {
            display: block;
            max-width: 100%;
        }
    }

    &__container {
        @include vertical-align(space-around, center);
        width: 100%;
        max-width: 22rem;
        margin: 2.5em auto;
        text-align: center;

        @media screen and (min-width: $desktop-size) {
            @include vertical-align(space-around, flex-start);
            text-align: left;
        }
    }

    &__title {
        font-family: 'Fraunces', sans-serif;
        font-weight: 900;
        color: $very-dark-desaturated-blue;
        min-width: 10em;
        margin: 1em 0;
    }

    &__paragraph {
        font-family: 'Barlow', sans-serif;
        color: $grayish-blue;
        min-width: 18em;
        width: 90%;
    }

    &__call-to-action {
        font-family: 'Fraunces', sans-serif;
        font-weight: 700;
        font-size: 0.8rem;
        margin: 1.5em 0;
        letter-spacing: 1.5px;

        color: $very-dark-desaturated-blue;
        position: relative; //Needed for positioning the div below
        z-index: 4;

        &:hover {
            div {
                opacity: 0.7;
            }
        }

        div {
            width: 7rem;
            height: 0.5rem;
            opacity: 0.4;
            border-radius: 2px;
            position: absolute;
            z-index: -4;
            top: 11px;
            left: -5px;
            transition: opacity 300ms ease-out;          
        }

        #transform {
            background-color: $yellow;
        }

        #stand {
            background-color: $soft-red;
        }

        @media screen and (min-width: $desktop-size) {
            align-self: flex-start;
        }
    }
}

#A {
    grid-area: A;
    @extend %img-sections;
    background-position: center;
    background-image: url('../images/mobile/image-transform.jpg');

    @media screen and (min-width: $tablet-size) {
        min-height: 100%;
    }

    @media screen and (min-width: $desktop-size) {
        background-image: url('../images/desktop/image-transform.jpg');
    }
}

#B {
    grid-area: B;
}

#C {
    grid-area: C;
    @extend %img-sections;
    background-position: center;
    background-image: url('../images/mobile/image-stand-out.jpg');

    @media screen and (min-width: $tablet-size) {
        min-height: 100%;
    }

    @media screen and (min-width: $desktop-size) {
        background-image: url('../images/desktop/image-stand-out.jpg');
        min-height: 100%;
    }
}

#D {
    grid-area: D;
}

//Graphic Desgin
#E {
    grid-area: E;
    @extend %img-sections;
    @extend %last-sections;
    color: $dark-desaturated-cyan;
    
    background-image: url('../images/mobile/image-graphic-design.jpg');

    @media screen and (min-width: $tablet-size) {
        min-height: 25.5rem;
    }

    @media screen and (min-width: $tablet-size) {
        background-image: url('../images/desktop/image-graphic-design.jpg');
    }
}

//Photography
#F {
    grid-area: F;
    @extend %img-sections;
    @extend %last-sections;
    color: $dark-blue;

    background-image: url('../images/mobile/image-photography.jpg');

    @media screen and (min-width: $tablet-size) {
        min-height: 25.5rem;
    }

    @media screen and (min-width: $tablet-size) {
        background-image: url('../images/desktop/image-photography.jpg');
    }
}