.menu {
    position: absolute;
    top: 3rem;
    left: 5%;
    width: 90%;
    margin: 0 auto;
    padding: 0.5rem 0;
    background-color: $white;

    @media screen and (min-width: $desktop-size) {
        display: none;
    }

    &__links {
        @include vertical-align(space-evenly, center);
    }

    &__item {
        margin: 0.5rem 0;
    }

    &__link {
        font-size: 0.8rem;
        font-family: 'Barlow', sans-serif;
        color: $grayish-blue;
        transition: color 300ms ease-out;

        &:hover {
            color: $very-dark-grayish-blue;
        }
    }
}

#contact {
    color: #000;
    padding: 0.75em 1.5em;
    background-color: $yellow;
    border-radius: 25px;
}

//Helper Class
.hide {
    display: none;
}