.photos {

    @include vertical-align(center, center);

    @media screen and (min-width: $tablet-size) {
        @include horizontal-align(center, center);
    }

    &__container-1, &__container-2 {
        @include horizontal-align(center, center);

        @media screen and (min-width: $desktop-size) {
            max-width: 50%;
        }
    }
    
    &__img-1 {
        max-width: 50%;
        @media screen and (min-width: $desktop-size) {
            display: none;
        }
    }

    &__img-1-desktop {
        display: none;

        @media screen and (min-width: $desktop-size) {
            display: block;
            max-width: 50%;
        }
    }

    &__img-2 {
        max-width: 50%;
        @media screen and (min-width: $desktop-size) {
            display: none;
        }
    }

    &__img-2-desktop {
        display: none;

        @media screen and (min-width: $desktop-size) {
            display: block;
            max-width: 50%;
        }
    }

    &__img-3 {
        max-width: 50%;
        @media screen and (min-width: $desktop-size) {
            display: none;
        }
    }

    &__img-3-desktop {
        display: none;
        @media screen and (min-width: $desktop-size) {
            display: block;
            max-width: 50%;
        }
    }

    &__img-4 {
        max-width: 50%;
        @media screen and (min-width: $desktop-size) {
            display: none;
        }
    }

    &__img-4-desktop {
        display: none;

        @media screen and (min-width: $desktop-size) {
            display: block;
            max-width: 50%;
        }
    }
}