.testimonials {
    @include vertical-align(space-around, center);
    margin: 3rem 0;
    background-color: $white;

    &__title {
        font-family: 'Fraunces', sans-serif;
        color: $grayish-blue;
        letter-spacing: 4px;
        text-align: center;
    }

    &__container {
        @include vertical-align(space-around, center);
        margin: 1rem;
        width: 100%;

        @media screen and (min-width: $desktop-size) {
            @include horizontal-align(space-evenly, stretch);
        }
    }
}

.testimonial {
    @include vertical-align(space-around, center);
    margin: 3em 1em;
    width: 50%;
    min-width: 16rem;
    max-width: 24rem;

    &__img {
        border-radius: 50%;
        width: 5rem;
    }

    &__paragraph {
        font-family: 'Barlow', sans-serif;
        text-align: center;
        color: $very-dark-grayish-blue;
        margin-top: 2em;
        width: 90%;
    }

    &__client-name {
        margin-bottom: 0.5em;
        text-align: center;
        font-family: 'Fraunces', sans-serif;
    }

    &__client-post {
        color: $grayish-blue;
        font-size: 0.9rem;
    }
}